= haml :_nav_menu, { :layout => false, :locals => { :page_type => :admin } }
%div.container
  %h2 HPAC Administration 
  %p Select a page or sectino from the meny bar above to edit.
  %div.container
    %form{ :id => 'content-form', :method => "post", :role => "form" }
      %div.row
        %div.form-group
          %label{ :for => "content-title" } Title:
          %input{ :id => "content-title", :class => "form-control", :name => "content[title]", :type => "text", :value => "" }
        %div.form-group
          %label{ :for => "content-body" } Content:
          %textarea{ :id => "content-body", :class => "form-control", :name => "content[body]", :rows => 15 }
        %button{ :type => "submit", :class => "btn btn-success"} Submit

