%div.jumbotron{id: 'hpac'}
  %div.container
    %h1 HPAC 2015
    %p The 2015 Health Professionals Annual Conference
%div.container
  %div.row
    %div.col-md-12
      %h2 About
      %p= about_text 
%div.container  
  %div.row
    %div.col-md-4
      %h2 Where?
      %p= where_text
    %div.col-md-4
      %h2 When?
      %p= when_text
    %div.col-md-4
      %h2 Who?
      %p= who_text
.container
  %img{ :src => "/img/homepage_footer_1170px.jpg" }
  
