%div.jumbotron{id: 'hpac'}
  %div.container
    %h1 HPAC 2015
    %p The 2015 Health Professionals Annual Conference
%div.container
  %div.row
    %div.col-md-12
      %h2 About
      %p= render_text(:about_text)
%div.container  
  %div.row
    %div.col-md-4
      %h2 Where? 
      %p= render_text(:where_text) 
    %div.col-md-4
      %h2 When?
      %p= render_text(:when_text) 
    %div.col-md-4
      %h2 Who?
      %p= render_text(:who_text)
<!-- Need to move this into my actual CSS
     Also need to figure out why it is rendering at 0px height if you don't explicitly set height -->
%div.container{:style => "background-image: url(/img/homepage_footer_1170px.jpg); height: 360px"}
  
