%div.jumbotron{id: 'hpac'}
  %div.container
    %h1 HPAC 2015
    %p The 2015 Health Professionals Annual Conference
%div.container
  %div.row
    %div.col-md-12
      %h2 About
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
%div.container  
  %div.row
    %div.col-md-4
      %h2 Where?
      %p Grand Hirafu, Niseko, Hokaido Japan.
    %div.col-md-4
      %h2 When?
      %p January, 2015.
    %div.col-md-4
      %h2 Who?
      %p A range of speakers to be announced.
.container
  %img{ :src => "/img/homepage_footer_1170px.jpg" }
  
