%div.container{id: 'hpac'}

  %div.jumbotron
    %div.container
      %h1.panel-heading Health Professionals Annual Conference 2015
  %div.container
    %div.row
      %div.col-md-4
        %p More details coming soon
