= haml :_nav_menu, { :layout => false, :locals => { :page_type => 'normal' } }
-@content.each do |item|
  %div.jumbotron
    %div.container
      %h1= item.title
  %div.container
    %div.row
      %div.container
        = item.content
